.login{
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg);
    padding: 20px 8%;

}
.login-logo{
    width: 150px;
    cursor: pointer;
}
.login-form{
    width: 100%;
    max-width: 450px;
    background-color: rgba(0,0,0,0.75);
    padding: 60px 68px 60px 68px;
    color: white;
    margin-top: 100px;
    margin: auto;
    border-radius: 28px;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500px;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline : 0;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form button{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #b3b3b3;
}
.remember{
    display: flex;
    align-items: center;
    gap: 6px;
}
.remember input{
    width: 15px;
    height: 15px;
    accent-color: #e50914;
}
.form-switch{
    margin-top: 30px;
    font-size: 14px;
    color: #b3b3b3;
}
.form-switch span{
    margin-left: 6px;
    color:#fff;
    font-weight: 500;
    cursor: pointer;
}
.login-spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.login-spinner img{
    width: 100px;
}
@media (max-width:500px){
    .login{
        padding: 15px 5%;
    }
    .login-form{
        padding: 30px;
        margin-top: 40px;
    }
}