.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0%;
      
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
    height: auto;
    
}
.hero-caption p{
    width: 700px;    
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btns .btn img{
    width: 25px;
}
.hero-btns .btn{
    background: white;
    border: 0;
    outline: 0;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
.hero-btns .btn.dark-btn{
    background: #6d6d6eb3;
    color: #fff;
}
.hero-btns .btn-hover{
    background: #ffffffbf;
}
.hero-btns .btn.dark-btn-hover{
    background: #6d6d6e66;
}
.more_cards{
    padding-left: 6%
  
}

@media (max-width: 1256px){
    .caption-img{
        margin-bottom: 10px;
        width: 60%;
    }
    .hero-caption p{
        font-size: 0.9em;
        margin-bottom: 15px;
    }
    .hero-btns .btn img{
        width: 30px;
    }
}
@media (max-width: 1024px){
    .hero-caption .title_cards{
        display: none;
    }
    .hero-btns{
        margin-bottom: 30px;
    }
    .hero-caption .caption-img{
        height:80%;
        width: auto;
    }
}
@media (max-width: 800px){
    .hero-caption{
        padding-left: 4%
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btns .btn img{
        width: 20px;
    }
    .more_cards{
        padding-left: 4%
    }
}
@media (max-width: 500px){
    .hero-caption  .caption-img{
        display: none;
    }
    .hero-caption  .hero-btns .btn img{
        width: 15px;
    }
    .btn{
        padding: 4px 10px;
        font-size: 10px;
        gap: 5px;
    }
}