.footer{
    padding: 30px 4%;
    max-width:1000px;
    margin: 0 auto;
}
.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}
.footer-icons img{
    width: 35px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 22px;
    list-style: none;
    margin-bottom: 30px;
}
.footer ul li{
    color: #757575;
    font-size: 14px;
    cursor: pointer;
}   
.copyright-text{
    color: #757575;
    font-size: 14px;
    width:100%;
    text-align: center;
    
}
@media(max-width: 800px){
    .footer-icons img{
        width: 25px;
    
    }
    .footer ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size:14px;
    }
}